@font-face {
    font-family: "FreePixel";
    src: url("https://sadhost.neocities.org/fonts/FreePixel.ttf") format("truetype");
}

:root {
    --background: #0E191A;
    --main-color:#7107AF;
    --main-color-dk:#441261;
    --accent-1:#B5E61D;
    --accent-2:#EB53D3;
    --content-spacing:5px;
    --background-img:url('https://sadhost.neocities.org/images/borders/bg-test-green.png');
    --background-grid:url('/static/background-img.png');
    --banner:url('/static/waltuh_skate.jpg');
    --titleBars:url('/static/banner-help.jpg');
    --text-color:white;
    --link-color:var(--accent-1);
    --border:1px solid black;
    --arrows:url('/sadgrl/assets/images/arrow.png');
    
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "FreePixel";
    color: white;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background-image: var(--background-grid);
    background-size: 100px 100px;
    background-repeat: repeat;
    background-position: 0 0;
    transform: translate(-50%, -50%) rotate(15deg);
    transform-origin: center;
    z-index: -1;
    pointer-events: none;

    animation: scrollBackground 60s linear infinite;
}


@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.topbar {
    background-image:var(--banner);
    height:50px;
    margin-bottom:var(--content-spacing);
    border:var(--border);
}

.content {
    background-color: var(--background);
    padding:25px;
}

#container,
.topbar img {
    width: 75%;
    max-width: 1250px;
    margin: 0 auto;
}
#container a {
    color:var(--link-color);
}
.topbar img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#container {
    border-top: none;
    width: 75%;
    max-width: 1250px;
}

#flex {
    display: flex;
    width: 75%;
    max-width:1250px;
}
main {
    width: 74%;
    padding :5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
nav {
    position:sticky;
    top:20px;
}
aside {
    width: 30%;
    margin-left:var(--content-spacing);
    border-left:var(--border);
    background-color: var(--background);
}
.title, .sidebar-title {
    background-image:var(--titleBars);
    font-weight:bold;
    border:var(--border);
    font-size:20px;
}
.gif {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto 30px auto;
}
.chart-container {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
    background-color: var(--background);
    border: 1px solid var(--main-color);
    
    
}
